* {
    /* Блочная модель */
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    background-color: #000;
}

.wrapper {
    /* Позиционирование */
	position: relative;

    /* Блочная модель */
    width: 94vw;
    height: 43.5vw;
	margin: 2vw auto 0;
}

.wrapper > input {
    /* Блочная модель */
	display: none;
}

.slider {
    /* Позиционирование */
	position: relative;

    /* Блочная модель */
    height: inherit;
	width: inherit;
    overflow: hidden;

    /* Оформление */
	background-color: #ddd;
    -webkit-border-radius: 1vw;
	-moz-border-radius: 1vw;
	-o-border-radius: 1vw;
	border-radius: 1vw;
}

.slides {
    /* Позиционирование */
	position: absolute;
	z-index: 0;

    /* Блочная модель */
	width: inherit;
	height: inherit;
    
    /* Анимация */
    opacity: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
	-moz-transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
	-o-transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
	transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;    
}

.slide1 {
    background-image: url(./assets/img/eb4fe9d0be35de4394b9755566c9f86c.jpg);
    background-size: cover;    
}
.slide2 {
    background-image: url(./assets/img/314e15b1818ee8a6f654168f611e9cba.jpg);
    background-size: cover;
}
.slide3 {
    background-image: url(./assets/img/c55b9821089e04e5860f5354bb5d9929.jpg);
    background-size: cover;
}
.slide4 {
    background-image: url(./assets/img/65303dfe5c6932f5fe048ddde7cbc98f.jpg);
    background-size: cover;
}
.slide5 {
    background-image: url(./assets/img/0a00eef50c28de8196e15e3c58c8ded5.jpg);
    background-size: cover;
}