* {
    /* Блочная модель */
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    background-color: #000;
}

.wrapper {
    /* Позиционирование */
	position: relative;

    /* Блочная модель */
    width: 94vw;
    height: 43.5vw;
	margin: 2vw auto 0;
}

.wrapper > input {
    /* Блочная модель */
	display: none;
}

.slider {
    /* Позиционирование */
	position: relative;

    /* Блочная модель */
    height: inherit;
	width: inherit;
    overflow: hidden;

    /* Оформление */
	background-color: #ddd;
    -webkit-border-radius: 1vw;
	-moz-border-radius: 1vw;
	-o-border-radius: 1vw;
	border-radius: 1vw;
}

.slides {
    /* Позиционирование */
	position: absolute;
	z-index: 0;

    /* Блочная модель */
	width: inherit;
	height: inherit;
    
    /* Анимация */
    opacity: 0;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
	-moz-transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
	-o-transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
	transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;    
}